<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客发布</title>
    <link rel="stylesheet" href="../lib/editormd/css/editormd.min.css" th:href="@{../lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">

</head>

<body class="c-bg">
    <!-- 导航 -->
    <nav th:replace="admin/_fragment :: navbar" class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <a class="navbar-brand" href="#">
            <h4>管理后台</h4>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        我
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">个人中心</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">退出</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <!-- 中间内容 -->

    <!-- 左侧菜单栏 -->
    <div class="container mt-3">
            <!-- 详细页面 -->
                <form id="blog-form" action="#" th:action="@{/admin/blogs}" method="POST">
                    <!-- 隐藏域 -->
                    <input type="hidden" name="published">
                            <div class="card mb-3 c-card-color">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-auto">
                                            <div class="input-group">
                                                <select class="custom-select" name="flag">
                                                    <option selected>原创</option>
                                                    <option>转载</option>
                                                    <option>翻译</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="title"
                                                aria-label="Text input with dropdown button" placeholder="标题">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="card c-card-color mb-3">
                        <div class="card-body">
                            <textarea class="form-control" rows="3" placeholder="请输入对博客的描述(50字内)" name="description"></textarea>
                        </div>
                    </div>

                            <div class="card c-card-color">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div id="md-content" style="z-index: 10!important;">
                                            <textarea name="content" style="display: none;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 第三部分 -->
                            <div class="card c-card-color mt-3">
                                <div class="card-body">
                                    <!--<div class="form-row align-items-center mt-2">-->
                                        <!--<div class="col">-->
                                            <!--<label class="sr-only" for="classify">分类</label>-->
                                            <!--<div class="input-group mb-2">-->
                                                <!--<div class="input-group-prepend">-->
                                                    <!--<div class="input-group-text">分类</div>-->
                                                <!--</div>-->
                                                <!--<input type="text" class="form-control" id="classify" name="type.id">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">分类</span>
                                            </div>
                                            <select class="form-control custom-select" th:name="type.id" >
                                                <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}" >默认</option>
                                                <!--<input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">-->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">标签</span>
                                            </div>
                                            <input type="text" class="form-control" id="tag" name="tag" placeholder="标签之间请用 ，隔开"  onclick="showSelectTag()">
                                        </div>

                                        <div id="select-tag" class="mt-1" style="display: none;">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="nav-item active"><a class="nav-link" href="#home" aria-controls="home" role="tab" data-toggle="tab">可选择多个标签</a></li>
                                                <!--<li role="presentation" class="nav-item"><a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">平台架构</a></li>-->
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="home">
                                                    <span th:each="tag : ${tags}" class="btn btn-primary btn-sm ml-2" th:onclick="selectTag([[${tag.name}]]);"  th:text="${tag.name}">
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="recommend"
                                                value="1" name="recommend">
                                            <label class="form-check-label" for="recommend">推荐</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="copyrightOpening"
                                                value="1" name="copyrightOpening">
                                            <label class="form-check-label" for="copyrightOpening">转载声明</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="appreciate"
                                                value="1" name="appreciate">
                                            <label class="form-check-label" for="appreciate">赞赏</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="comment"
                                                value="1" name="comment">
                                            <label class="form-check-label" for="comment">评论</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn btn-outline-dark mx-1" onclick="window.history.go(-1)">返回</button>
                                        <button type="reset" class="btn btn btn-outline-dark">重置</button>
                                        <button type="button" id="save-btn" class="btn btn btn-outline-primary mx-1">保存</button>
                                        <button type="submit" id="publish-btn" class="btn btn-danger">发布</button>
                                    </div>

                                </div>
                            </div>






                </form>




        </div>
    </div>
    </div>




    <!-- 底部footer -->
    <footer class="text-center text-muted bg-dark py-4 mt-4">
        jalickli博客
    </footer>

    <!--javascript-->
    <script type="text/javascript" src="../js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
    <script type="text/javascript" src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script type="text/javascript">
        // 初始化Markdown编辑器
        var contentEditor;

        $(function () {
            contentEditor = editormd("md-content", {
                width: "100%",
                height: 640,
                syncScrolling: "single",
                delay: 0,
                toolbarAutoFixed:true,//工具栏自动固定定位的开启与禁用
                path: "../../lib/editormd/lib/"
            });

            /*
            // or
            testEditor = editormd({
                id      : "test-editormd",
                width   : "90%",
                height  : 640,
                path    : "../lib/"
            });
            */
        });
    </script>
    <script type="text/javascript">

        $('#save-btn').click(function () {
            $('[name="published"]').val(false);
            $('#blog-form').submit();
        })

        $('#publish-btn').click(function () {
            $('[name="published"]').val(true);
            $('#blog-form').submit();
        })

        function showSelectTag() {
            $('#select-tag').show();
        }

        function selectTag(value) {
            var previous = $('#tag').val();
            if(previous.indexOf(value) == -1){
                if(previous){
                    $('#tag').val(previous + ',' + value);
                }else {
                    $('#tag').val(value);
                }
            }
        }

    </script>
    <!--<script type="text/javascript">-->
        <!--// 初始化Markdown编辑器-->
        <!--var contentEditor;-->

        <!--$(function () {-->
            <!--contentEditor = editormd("md-content", {-->
                <!--width: "100%",-->
                <!--height: 640,-->
                <!--syncScrolling: "single",-->
                <!--path: "../../lib/editormd/lib/"-->
            <!--});-->

            <!--/*-->
            <!--// or-->
            <!--testEditor = editormd({-->
                <!--id      : "test-editormd",-->
                <!--width   : "90%",-->
                <!--height  : 640,-->
                <!--path    : "../lib/"-->
            <!--});-->
            <!--*/-->
        <!--});-->
    <!--</script>-->
</body>

</html>